.DS_Store
node_modules
scratchpad
server/public/.DS_Store
server/public/main.js
server/public/images/.DS_Store
server/public/images/foreground/.DS_Store
server/public/images/foreground/arrow/.DS_Store
server/public/images/foreground/arrow/arrow-original-size/
